
<div class="sidebar-wrapper">
  <div class="logo">
    <a href="http://www.electroservicios369.com" class="simple-text logo-normal">
      <div class="logo-image-small">
        <img src="assets/img/logo.png">
      </div>
    </a>
  </div>
    <ul class="nav">
        <li *ngFor="let menuItem of menuItems"  class="{{menuItem.class}}">
            <!--<a [routerLink]="[menuItem.path]">-->
              <a [routerLink]="[menuItem.path]" (click)="setCategory(menuItem.title)">
                <!--<i class="nc-icon {{menuItem.icon}}"></i>-->
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
