<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>

                <li>
                    <a href="https://www.electroservicios369.com">
                        Electro Servicios 369 S.A.
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by <a href="https://www.electroservicios369.com">Electro Servicios 369 S.A.</a>
        </div>
    </div>
</footer>
